h1 {
  color:black;
  background-color;
  text-align: center;
   background: linear-gradient(to bottom, #33ccff 45%, #ffff99 94%);
  font-family: "Times New Roman", Times, serif;

}


p {
  color:black;
  background-color;
  text-align: center;
  background: linear-gradient(to bottom, #33ccff 45%, #ffff99 94%);
  font-family: "Times New Roman", Times, serif;

}


body {
  background: linear-gradient(to bottom, #33ccff 45%, #ffff99 94%);
}
