h1 {
  color:black;
  background-color;
  text-align: center;
   background: linear-gradient(to bottom, #000099 0%, #000099 100%);
  font-family: "Times New Roman", Times, serif;

}


p {
  color:black;
  background-color;
  text-align: center;
  background: linear-gradient(to bottom, #000099 0%, #000099 100%);
  font-family: "Times New Roman", Times, serif;

}


body {
  background: linear-gradient(to bottom, #000099 0%, #000099 100%);
}
