h1 {
  color:red;
  background-color;
  text-align: center;
   background: linear-gradient(to bottom, #33ccff 45%, #ffff99 94%);

}


p {
  color:red;
  background-color;
  text-align: center;
  background: linear-gradient(to bottom, #33ccff 45%, #ffff99 94%);

}


body {
  background: linear-gradient(to bottom, #33ccff 45%, #ffff99 94%);
}
